# The following files and directories will be ignored when packaging the extension for distribution
.vscode
.vscode/**
.vscode-test/**
node_modules
out
src/**
*.ts
*.test.ts
*.js.map
*.js
*.d.ts
*.log
*.tgz
*.zip
*.tar.gz
README.md
.eslintrc.json
**/.eslintrc.json
tsconfig.json
**/tsconfig.json
package.json
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/*.map
!out/**