# The following files and directories will be ignored when packaging the extension for distribution
.vscode/**
node_modules/**
src/**
*.ts
*.test.ts
*.js.map
**/*.d.ts
*.log
*.tgz
*.zip
*.tar.gz
.eslintrc.json
tsconfig.json